{% extends 'html/base.html' %} {% block content %}

<header class="masthead" style="background-color: black">
    <div class="overlay" style="background-color: black;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1 style="color: #5cbe09;">YOGESHWARAN R</h1>
                    <span class="subheading">Python Programmer; Chemical Engineer</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                {{ text|safe }}
            </div>
        </div>
    </div>
</article>
{% endblock content %}