{% extends 'html/base.html' %} {% block content %}

<header class="masthead" style="background-color: black;">
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <div class="post-heading">
                <h1 style="color: yellowgreen;">{{ post.title }}</h1>
                <span class="meta">Posted on {{ post.timestamp }}</span>
            </div>
        </div>
    </div>
</div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                {{ post.body|safe }}
            </div>
        </div>
    </div>
</article>

{% endblock content %}
