{% extends 'html/base.html' %} {% block content %}
<header class="masthead" style="background-color: black;">
    <div class="overlay" style="background-color: black;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1 style="color: #5cbe09;">Projects</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<ul class="list-inline text-center">
    {% for repo in repos %}
    <a href="{{ repo.link }}">
        <img align="center" src="{{ repo.image }}" />
      </a>
    {% endfor %}
</ul>

{% endblock content %}