{% extends 'html/base.html' %}

{% block content %}
<header class="masthead" style="background-color: black;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <div class="post-heading">
            <h1 style="color: yellowgreen;">Projects</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
<ul class="list-inline text-center">
    <li class="list-inline-item">
        <div class="github-card" data-github="yogeshwaran01/instagramy" data-width="400" data-height="178" data-theme="default"></div>
    </li>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <li class="list-inline-item">
        <div class="github-card" data-github="yogeshwaran01/maskurl" data-width="400" data-height="178" data-theme="default"></div>
    </li>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <li class="list-inline-item">
        <div class="github-card" data-github="yogeshwaran01/web-series-quotes" data-width="400" data-height="178" data-theme="default"></div>
    </li>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <li class="list-inline-item">
        <div class="github-card" data-github="yogeshwaran01/elements-table-api" data-width="400" data-height="178" data-theme="default"></div>
    </li>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <li class="list-inline-item">
        <div class="github-card" data-github="yogeshwaran01/Python-Scripts" data-width="400" data-height="178" data-theme="default"></div>
    </li>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <li class="list-inline-item">
        <div class="github-card" data-github="yogeshwaran01/website" data-width="400" data-height="178" data-theme="default"></div>
    </li>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
</ul>

{% endblock content %}
