{% extends 'html/base.html' %} {% block content %}
<header class="masthead" style="background-color: black;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1 style="color: yellowgreen;">Files Uploaded</h1>

                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="col-md-10 col-lg-8 mx-auto">
                    {% for i in images %}
                    <div>
                        <a href="{{ url_for('static', filename='uploads/' + i) }}">
                            <img src="{{ url_for('static', filename='uploads/' + i) }}" style="width: 100%; height: 100%" alt="{{i}}">
                        </a>
                    </div>
                    <div>
                        <a style="align-self: center;" href="{{ url_for('static', filename='uploads/' + i) }}">{{i}}</a> {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<a href="/upload" style="text-align: center; color:black; align-self: center;">Upload new file</a> {% endblock %}